track-title-label {
  font-size: 17px;
}

track-artist-label,
player-name-label {
  font-size: 14px;
}

main-container {
  padding-bottom: 10px;
}

info-container {
  padding: 10px;
}

.player-progress-scale slider {
  background: none;
  box-shadow: none;
  border: none;
}

.player-progress-scale trough {
  border: none;
}
